<aside
  class="w-full h-full flex flex-col items-center bg-[#f7f5f3] border-r border-gray-100"
>
  <nav class="flex-1 flex flex-col gap-6 mt-6 text-gray-500 text-xl">
    <button
      *ngFor="let item of sidebarItems"
      class="relative group hover:text-green-600"
      (click)="navigate(item)"
    >
      <i [class]="item.icon"></i>
      <span
        class="absolute left-12 top-1/2 -translate-y-1/2 bg-gray-800 text-white text-xs px-2 py-1 rounded hidden group-hover:block"
      >
        {{ item.label }}
      </span>
    </button>
  </nav>

  <div class="p-3">
    <img src="assets/google.svg" class="w-8 h-8 rounded-full" alt="me" />
  </div>
</aside>
