<div class="flex h-full bg-white dark:bg-gray-900">
  <!-- Left Panel -->
  <div
    class="w-[400px] border-r border-gray-200 dark:border-gray-700 flex flex-col bg-white dark:bg-gray-800"
  >
    <!-- Normal View: Search + Chat List -->
    <ng-container *ngIf="!showNewChatView">
      <app-chat-search></app-chat-search>
      <div class="flex-1 overflow-y-auto">
        <app-chat-list></app-chat-list>
      </div>
    </ng-container>

    <!-- New Chat View: Replaces entire sidebar -->
    <app-new-chat *ngIf="showNewChatView"></app-new-chat>
  </div>

  <!-- Right Panel - Chat Window -->
  <div class="flex-1 bg-gray-50 dark:bg-gray-900">
    <app-chat-window></app-chat-window>
  </div>
</div>
